<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Code Sample(Growth Parameter Chart)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <title>Code Sample(Growth Parameter Chart)</title>
        <link rel="stylesheet"  href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />    
            
    </head>
    
     <body>
        <div class="container">          		
				<div class="row">
					<div class="col-md-12">											                   
						<div class="jumbotron well">
							<div class="container">
								<h2 class="display-1">Growth Parameter Chart</h2>
								<h3 class="display-1">Code Sample (Spring Boot with JFreeChart to generate growth chart images)</h3>							
							</div>
						</div>											
					</div>
				</div>
				
				<div class="row">
                    <div class="col-md-12">
						
						<h5>The following chart is stature percentile based on age for my daughter. If you want different REST service call, use the following:</h5>
						
						<code>ageInMonth--> age in month, height--> height in centimeter, sex--> 1:boy  2:girl)</code><br>
							<code>http://localhost:8080/chart/{ageInMonth}/{height}/{sex}</code><br>
							Examples:<br>
							<a href="./chart/160/156/2" target="_blank">.../chart/160/156/2</a> (a girl who is 160 months old with 156 centimeter height)<br>
							<a href="./chart/59/107/2" target="_blank">.../chart/150/155/1</a> (a boy who is 150 months old with 155 centimeter height)<br>
										
					</div>
                </div>  
                
                <div class="row">
                	
                   	     <div class="col-md-12">                        
                            <img src="/chart/35/100/2" />
                         </div>
                   
                </div>      
		</div>
    </body>
</html>